*-cv-corpus-*
ready_covost_dataset/
hazir_covost_verisi/
test_outputs/
*_results/
*_results_old/
*.tsv
.vscode/
*.log
*.json
*.csv
*.ckpt
*.pt
*.bin
*.h5
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz
e2e_full_results/